* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}


html {
    background-color: black;
    overflow-x: hidden;
}








a:hover {
    text-decoration: underline;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 8%;
}


nav a {
    text-decoration: none;
    color: aliceblue;
}
nav p a {
    text-decoration: none;
    color: #FFF200;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.4rem;
}


ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}/* contact.css */


/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav p,
nav ul {
    display: inline;
    margin-right: 20px;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}


nav a {
    color: white;
    text-decoration: none;
}


.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: black; /* White background for the container */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


form {
    max-width: 600px; /* Limit the width of the form */
    margin: 0 auto; /* Center the form horizontally */
}


label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke; /* Dark gray text color */
}


input[type='text'],
input[type='email'],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box;
    color: black;
}


input[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #555; /* Dark background color for the submit button */
    color: white; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}


input[type='submit']:hover {
    background-color: grey; /* Darker background color on hover */
}


textarea {
    height: 150px; /* Set height for the textarea */
}


.start {
    font-weight: bolder;
    font-size: 1.1rem;
    border: 1px solid aliceblue;
    color: #FFF200;
    padding: 3px 1.3rem;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
