* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: black;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 8%;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav p a {
    text-decoration: none;
    color: #FFF200;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.4rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.start {
    font-weight: bolder;
    font-size: 1.1rem;
    border: 1px solid aliceblue;
    color: #FFF200;
    padding: 3px 1.3rem;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    text-align: center;
    font-weight: 500;
}

.main-section {
    margin: 1px 8%;
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: 100%; /* Change width to 100% for smaller screens */
    height: 15rem;
    background-color: aquamarine;
}

@media only screen and (min-width: 768px) {
    .service {
        width: 50%; /* Set width to 50% for screens wider than 768px */
    }
}

.fitness,
.nutrition,
.virtual {
    color: aliceblue;
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 2rem;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
}

.fitness {
    background-image: url(images/fitman.jpg);
}

.nutrition {
    background-image: url(images/nutrition2.jpg);
}

.virtual {
    background-image: url(images/virtual_assistant.jpg);
}

.one,
.onee,
.oneee {
    color: aliceblue;
    display: grid;
    place-content: center;
    padding: 2rem;
    font-size: 1.2rem;
    text-align: justify;
}

.one {
    background-color: rgb(187, 156, 84);
}

.onee {
    background-color: rgb(159, 187, 84);
}

.oneee {
    background-color: rgb(84, 187, 153);
}
