* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #000;
    color: aliceblue;
    position: relative;
    overflow-x: hidden;
}

.circle {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    border: 1px solid rgba(228, 255, 247, 0.466);
    position: absolute;
    top: -25rem;
    left: -20rem;
    z-index: -5;
}


a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 8%;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}
nav p a {
    text-decoration: none;
    color: #FFF200;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.4rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.start {
    font-weight: bolder;
    font-size: 1rem;
    border: 1px solid aliceblue;
    color: #FFF200;
    padding: 3px 1.3rem;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* ########################################################## */
/* ########################################################## */
/* ########################################################## */
/* ########################################################## */
/* ########################################################## */

header {
    margin: 5% 8%;
    position: relative;
}

.work {
    width: 90%;
    font-weight: 700;
    font-size: 8.4rem;
    letter-spacing: 25px;
    word-spacing: 10px5;

}

header p span {
    color: #FFF200;
}

.girl {
    width: 40%;
    height: auto;
    position: absolute;
    top: -7%;
    right: 8%;
}

.pro {
    width: 10%;
    position: absolute;
    top: 18%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.aside {
    border: 1px solid #FFF200;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
}

.time {
    font-size: 2rem;
    font-weight: 700;
    color: #FFF200;
}

.hero-text {
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
}

.action {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.action-buttons {
    text-decoration: none;
    color: aliceblue;
    /* background-color: #FFF200; */
    padding: 9px 2.7rem;
    border: 1px solid #FFF200;
    border-radius: 15px;
}

/* ######################################################################## */
/* ######################################################################## */
/* ######################################################################## */

main {
    margin: 1px 8%;
}

.first-section {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.card {
    width: 25%;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    /* background-color: rgb(41, 41, 41); */
    box-shadow: 10px 10px 40px #fff20020;
    margin-bottom:4rem;
}

.three {
    width: 90%;
}

.personal {
    font-size: 1.3rem;
    border-bottom: 1px solid #FFF200;
    padding-bottom: 1rem;
    font-weight: lighter;
}

.plan {
    font-weight: bold;
}

.card-text {
    text-align: center;
}

.learn {
    text-decoration: none;
    color: aliceblue;
    background-color: #000;
    border-radius: 15px;
    padding: 5px 1.4rem 8px 1.4rem;
}

/* ############################################### */
/* ############################################### */
/* ############################################### */


.second-section {
    margin: 1px 8%;
    position: relative;
}

.trust {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.trustee {
    color: #FFF200;

}

.company {
    width: 100%;
    height: auto;
    /* margin-top: 2rem; */
}

.meet-us {
    margin-top: 13rem;
    /* padding-top: 5rem; */
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5rem;
}

.proo {
    font-size: 2rem;
    font-weight: bolder;
}

.pros {
    color: #FFF200;
}

.pros-text {
    font-size: 1.1rem;
    width: 60%;
    line-height: 25px;
}

.our-team {
    text-decoration: none;
    color: aliceblue;
    /* background-color: #FFF200; */
    padding: 13px 3rem;
    font-weight: bolder;
    font-size: 1.3rem;
    border-radius: 15px;
    border: 1px solid #FFF200;
}

.meet {
    width: 40rem;
    height: auto;
    position: absolute;
    top: 2rem;
    left: -15rem;
    z-index: -453;
}

/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */

.third-section {
    margin: 15rem 8% 3rem 8%;
}

.story {
    text-align: center;
    margin-bottom: 3rem;
}

.story span {
    color: #FFF200;
}

.test {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

}

.aris {
    color: #FFF200;
    font-weight: bolder;
    font-size: 1.2rem;
}


.gahima {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.test-text {
    width: 60%;
}


.test1 {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.name1 {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    justify-content: center;
}

.test-text1 {
    width: 60%;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .circle {
        display: none;
    }

    header {
        margin: 10% 8% 5% 8%;
    }

    .girl {
        width: 60%;
        right: 20%;
    }

    .pro {
        width: 20%;
        top: 22%;
    }

    .first-section {
        flex-direction: column;
    }

    .card {
        width: 80%;
    }

    .second-section {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 768px) {
    .girl {
        display: flex;
        width: 60%;
        right: 20%;
    
    }

    .pro {
        display: none;
    }
}

